/* Geral */

*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: #333;
    box-sizing: border-box;
    
}

html {
    height: 100vh;
}

body {
    background-image: url(/img/background-blue-light.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

button {
    background-color: #fff;
    color: #59AED7;
    border: 2px solid #59AED7;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-radius: 2px;
}

button:hover {
    background-color: #59AED7;
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {
    color: #333;
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* Todo header */

.todo-container {
    max-width: 820px;
    margin: 3rem auto;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 30px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #59AED7;
}

h1 {
    font-size: 48px;
    background: linear-gradient(#59AED7, #B7DCEF);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5 {
    font-size: 10px;
    background: linear-gradient(#59AED7, #B7DCEF);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Todo form*/

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #59AED7;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.2rem;
    font-weight: bold;
} 

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .4rem;
}

#cancel-edit-btn {
    margin-top: 0.3rem;
    border-radius: 2px;
}

/* Todo toolbar */

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #59AED7;
    display: flex;

}

#toolbar h4 {
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
}

#search {
    border-right: 1px solid #59AED7;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;

}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.5rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter-select {
    flex: 1;
}

/* Todo list*/

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #59AED7;
    margin-bottom: 1px solid #fff;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: 1.2rem;
}

.todo button {
    margin-left: .4rem;
}

.done {
    background-color: #B5D9EF;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}




